In [1]:
# import libraries

import pandas as pd


import numpy as np

import warnings
warnings.filterwarnings ('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import seaborn as sns

import matplotlib.pyplot as plt

from geopy.geocoders import Nominatim

In [2]:
data_prior3_ori = pd.read_csv('../Proyecto_Arraigo_Recomender_System/data/Urbanitas_prior3.csv')


data_prior3 = data_prior3_ori.copy()

In [3]:
data_prior3.shape

(10618, 23)

In [4]:
data_prior3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10618 entries, 0 to 10617
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          10618 non-null  int64
 1   id                                  10618 non-null  object
 2   fecha                               10618 non-null  object
 3   pais_de_residencia                  10590 non-null  object
 4   provincia_de_espana                 10618 non-null  object
 5   situacion_en_espana                 10571 non-null  object
 6   profesion                           10515 non-null  object
 7   autonomia_economica                 8407 non-null   object
 8   familia_edades                      8964 non-null   object
 9   coche_propio                        10618 non-null  object
 10  carnet_coche                        10618 non-null  object
 11  mascota                             10618 non-null  object
 12  presupuesto_alquiler                10577 non-null  object
 13  primera_segunda_vivienda            10556 non-null  object
 14  zona_interes                        10618 non-null  object
 15  predisposicion_pueblo               10618 non-null  object
 16  numero_familiares                   10618 non-null  int64
 17  sector_servicios                    10618 non-null  int64
 18  sector_industria                    10618 non-null  int64
 19  sector_construccion                 10618 non-null  int64
 20  sector_agricultura_ganaderia_pesca  10618 non-null  int64
 21  Otros                               10618 non-null  int64
 22  nan_filas                           10618 non-null  int64
dtypes: int64(8), object(15)
memory usage: 1.9+ MB

BORRADO DE NULOS (SALVO AUTONOMÍA ECONÓMICA)

In [5]:
data_prior3 = data_prior3.dropna(subset=[col for col in data_prior3.columns if col != 'autonomia_economica'])

In [6]:
porcentaje_nulos = data_prior3.isnull().sum() / data_prior3.count() * 100
porcentaje_nulos.sort_values(ascending=False)

autonomia_economica                   25.126476
Unnamed: 0                             0.000000
presupuesto_alquiler                   0.000000
Otros                                  0.000000
sector_agricultura_ganaderia_pesca     0.000000
sector_construccion                    0.000000
sector_industria                       0.000000
sector_servicios                       0.000000
numero_familiares                      0.000000
predisposicion_pueblo                  0.000000
zona_interes                           0.000000
primera_segunda_vivienda               0.000000
mascota                                0.000000
id                                     0.000000
carnet_coche                           0.000000
coche_propio                           0.000000
familia_edades                         0.000000
profesion                              0.000000
situacion_en_espana                    0.000000
provincia_de_espana                    0.000000
pais_de_residencia                     0.000000
fecha                                  0.000000
nan_filas                              0.000000
dtype: float64

BORRADO DE COLUMNAS INCONSISTENTES/IRRELEVANTES

In [8]:
data_prior3 = data_prior3.drop(labels=["Unnamed: 0",
                                       'id',
                                       'nan_filas',
                                       'profesion',
                                       'familia_edades'],
                                        axis=1)

In [9]:
data_prior3.head(1)

,fecha,pais_de_residencia,provincia_de_espana,situacion_en_espana,autonomia_economica,coche_propio,carnet_coche,mascota,presupuesto_alquiler,primera_segunda_vivienda,zona_interes,predisposicion_pueblo,numero_familiares,sector_servicios,sector_industria,sector_construccion,sector_agricultura_ganaderia_pesca,Otros
1,2020-10-26,España,Andalucía,Tengo nacionalidad española / de un país de la...,3 meses,Si,Si,No,Hasta 300€,Primera residencia,Pueblos de Zaragoza,3 meses,2,0,0,0,0,0

In [12]:
mask = data_prior3.apply(lambda row: row.astype(str).str.contains('\?').any(), axis=1)
result = data_prior3.loc[mask]

result

,fecha,pais_de_residencia,provincia_de_espana,situacion_en_espana,autonomia_economica,coche_propio,carnet_coche,mascota,presupuesto_alquiler,primera_segunda_vivienda,zona_interes,predisposicion_pueblo,numero_familiares,sector_servicios,sector_industria,sector_construccion,sector_agricultura_ganaderia_pesca,Otros
72,2020-12-07,Latino América,Ninguna,No estoy en ninguna de esas situaciones,6 meses,Si,Si,No,Hasta 300€,Primera residencia,? ?????????,1 mes,2,0,0,0,0,1
5290,2021-11-04,Otro,Ninguna,No estoy en ninguna de esas situaciones,???? ?? ???,Si,Si,Si,Hasta 300€,Primera residencia,??? ????,Aún me lo estoy pensando,3,0,0,0,0,1
5847,2022-01-01,Otro,Ninguna,No estoy en ninguna de esas situaciones,3 meses,Si,Si,No,Hasta 300€,Primera residencia,? ?????????,1 mes,6,0,0,0,0,0
9314,2022-09-09,Otro,Ninguna,No estoy en ninguna de esas situaciones,NaN,Si,Si,Si,Hasta 300€,Primera residencia,?????? ????????,1 mes,3,0,0,0,0,1
10256,2022-12-26,España,????????,Tengo nacionalidad española / de un país de la...,NaN,Si,Si,No,Hasta 300€,Primera residencia,Indiferente,6 meses,2,0,0,0,0,0

In [18]:
data_prior3 = data_prior3.drop(result.index)

CONVERSIÓN DE TODAS LAS COLUMNAS CATEGÓRICAS A NUMÉRICAS

In [21]:
data_prior3.carnet_coche.unique()

array(['Si', 'No'], dtype=object)

In [ ]:
data_prior3.coche_propio.unique()

In [22]:
data_prior3.mascota.unique()

array(['No', 'Si'], dtype=object)